@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100;300;500&family=Shadows+Into+Light&family=Signika:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100;300;500&family=Shadows+Into+Light&family=Signika:wght@500;700&display=swap");
* {
  box-sizing: border-box;
}
.nav-items {
  margin-left: 400px;
  margin-top: -85px;
  position: relative;
  /* height: 20px; */
}
.nav-item {
  text-align: center;
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  font-size: 20px;
}
.bars {
  display: none;
}
.logo {
  margin-top: 20px;
  margin-left: 40px;
  height: 40px;
}
.active-item {
  color: #ff6666;
}
.icons {
  float: right;
  margin-top: -75px;
}

.intro-section {
  margin-left: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.left-section {
  float: left;
  display: flex;
  flex-direction: column;
}

.left-section h3 {
  font-size: 30px;
  font-family: "Roboto";
  color: #4f4e4e;
}
.circles {
  height: 30px;
}

.left-section h1 {
  margin-top: -18px;
  margin-bottom: 5px;
  font-size: 50px;
  font-family: "Signika";
}

.sub-headline {
  font-family: "Roboto";
  font-size: 15px;
  color: #1e1e1ef0;
  display: flex;
}
.sub-headline-content {
  margin-left: 15px;
  margin-top: 4px;
  font-size: 17px;
  font-weight: lighter;
  padding: -10px;
  display: flex;
  flex-wrap: wrap;
}
.text {
  color: #ababab;
  width: 630px;
}

.action-btns {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.action-btn {
  padding: 10px;
  width: 150px;
  border-radius: 2rem;
  background-color: #ff6666;
  border: 1px solid #ff6666;
  color: white;
}
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headphone-div {
  display: flex;
}
.headphone {
  float: right;
  /* margin-top: -250px; */
}
.headphone-img {
  height: 380px;
  width: 380px;
}
.dots {
  display: flex;
}
.discount {
  height: 140px;
  position: relative;
}
.star-pattern {
  margin-top: 200px;
  margin-right: -100px;
}
.discount-content {
  margin-top: -130px;
  margin-left: 35px;
  position: relative;
}
.discount-content > h4 {
  color: white;
  font-size: 20px;
}
.discount-content > h1 {
  color: white;
  font-weight: bolder;
  font-size: 40px;
  margin-top: -20px;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .logo {
    height: 20px;
    float: left;
    margin-left: -5px;
    margin-top: -5px;
  }
  .bars {
    display: block;
    float: right;
  }
  .nav-items {
    display: none;
  }

  .icons {
    display: none;
  }
  .intro-section {
    /* margin-left: 520px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .left-section {
    margin-top: 10px;
  }
  .left-section h3 {
    margin-left: -40px;
    font-size: 13px;
  }
  .circles {
    height: 15px;
  }
  .left-section h1 {
    margin-left: -40px;
    margin-top: -3px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .plus-sign {
    height: 20px;
    margin-left: -40px;
  }

  .sub-headline-content {
    font-size: 10px;
  }
  .text {
    margin-left: -40px;
    margin-top: -10px;
    font-size: 10px;
  }
  .action-btns {
    margin-left: -60px;
    padding: 5px;
    gap: 5px;
  }

  .action-btn {
    font-size: 10px;
    padding: 2px;
    width: 90px;
  }
  .right-section {
    margin-top: 20px;
    margin-left: -240px;
  }
  .headphone-img {
    height: 180px;
    width: 180px;
  }
  .discount {
    height: 65px;
    margin-left: -75px;
  }
  .star-pattern {
    margin-top: 100px;
    margin-left: -15px;
  }
  .discount-content {
    margin-top: -65px;
    position: relative;
  }
  .discount-content > h4 {
    font-size: 10px;
    margin-bottom: 20px;
    margin-left: -95px;
  }

  .discount-content > h1 {
    font-size: 15px;
    margin-left: -90px;
  }
  .dots {
    display: flex;
    justify-content: center;
    margin-left: -70px;
  }
  .add-to-cart-btn {
    margin-left: -70px;
  }
}
